:root {
    --primary:#1090CB;
    --secondary: #1090CB1A;

}
.bg-color {
    background-color: var(--primary) !important;
}
.home {
    color: var(--primary) !important;
}
.bg-color:hover {
    background-color: white !important;
    color: var(--primary) !important;
    border: 1px solid var(--primary);
}
.bg-color:focus {
     background-color: white !important;
    color: var(--primary) !important;
    border: 1px solid var(--primary);
}
.blue {
    color: var(--primary);
}
.bg-outline {
    border:  1px solid var(--primary) !important;
    color: var(--primary) !important;
}
.background-color {
    background-color:#1090CB1A;
}
.border1 {
    background-color:#EFEAFF;
}
.border2 {
    background-color:#ECFFDA;
}
.border3 {
    background-color: #DAE6FF;
}
.border4 {
    background-color: #FFE5DA;
}
.bm {
    border-bottom: 1px solid #C7C7C7;
}
.move{
    top: 30% !important;
}
.border5 {
    background-color: var(--primary);
}
.border6 {
    background-color:#9208D3;
}
.text-blue {
    color: var(--primary);
}
.back-color {
    background-color:#F4F4F4 !important;
}
.back-blue {
    background-color: var(--primary);
}
.text-color {
    color: var(--secondary);
}
.hidden {
    overflow: hidden;
}
.start-img {
    transform: translate(-50%, -50%);
}
.hidden {
  overflow: visible !important;
}
.position-top {
    position: absolute;
    top: -40px;
    left: 100px;
}
.position-left {
    position: absolute;
    right: 400px;
}
.position-up {
    position: absolute;
    top: -50px;
    left: 270px;
}
.position-right {
    position: absolute;
    top: 100px;
    left: 20px;
}
.position-set {
    position: absolute;
    right: -100px;
    bottom: 20px;
}